BasedOnStyle: LLVM
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<'
    Priority: -1
  - Regex: '^"'
    Priority: 0
  - Regex: '.*'
    Priority: 2
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: Never
  AfterStruct: false
  AfterUnion: false
  AfterEnum: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeCatch: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
---
Language: JavaScript
BasedOnStyle: Google
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
JavaScriptQuotes: Leave
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
